@use "../styles/tokens" as *;

.page {
  min-height: 100%;
  padding: 68px 76px;
}

.grid {
  display: grid;
  gap: 20px;
  margin-top: 58px;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1152px) {
  .projectGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .page {
    padding: 52px 46px;
  }
}

@media (max-width: 672px) {
  .page {
    height: auto;
    min-height: auto;
    padding: 35px 18px;
  }
}
