/* src/project.css */
.project-details {
    padding: 20px;
  }
  
  .project-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tags .tag {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .project-content {
    margin-top: 20px;
  }
  
  /* Image styles */
  .custom-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  /* Adjust alignment and size */
  .custom-image.small {
    width: 50%;
    float: right;
  }
  
  .custom-image.large {
    width: 100%;
  }
  
  .custom-text {
    text-align: justify;
  }
  

  @media (max-width: 768px) {
    .project-meta {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .custom-image.small {
      width: 100%;
      float: none;
      margin: 10px 0;
    }
  
    .project-details {
      padding: 10px;
    }
  
    .tags .tag {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  