@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Global styles */
body {  
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  text-align: center;
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 20px; /* Add padding for more breathing room */
  font-family: 'Fira Code', monospace;
}

.header ul {
  display: flex;
  justify-content: center; /* Center items inside */
  gap: 10px; /* Space between buttons */
  margin: 0 auto; /* Center the box itself */
  padding: 5px 10px;
  max-width: 237px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  position: relative;
  top: 10px;
}

.header li {
  list-style: none;
  padding: 6px 12px;
  transition: transform 0.3s ease;
  display: inline-block;
  transform: translateY(0px) scale(1.02);
  border: 1px solid rgba(241, 240, 240, 0.938);
  border-radius: 8px;
  font-size: 0.90rem;
  cursor: pointer;
}

.header li:hover {
  transform: translateY(-2px) scale(1.05);
  background-color: rgba(255, 255, 255, 0.4);
}


.footer {
  /* background-color: rgba(32, 33, 36, 0); */
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 0px; /* Padding to space out footer content */
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Ensure footer stays at the bottom */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1; /* Ensures the content container takes up available space */
  padding: 20px;
  box-sizing: border-box; /* Account for padding */
}

.content{
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4 {
  color: black;
}

.header h1{
  letter-spacing: 12px;
}

h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Social icons */
.social-icons {
  margin-top: 20px; /* Reduce top margin for better balance */
  display: flex;
  justify-content: center; /* Center social icons */
}

.social-icons a {
  margin: 0 15px;
}

.social-icons img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

#githubIcon{
  width: 28px;
  height: 28px;
  margin-top: -2px;
}

#backIcon{
  margin-bottom: -8px;
  width: 28px;
  height: 28px;
}

.social-icons a:hover img {
  transform: scale(1.2);
}


/* Responsive adjustments for different screen sizes*/
@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
    height: auto;
  }

  .header {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .content-container {
    margin-left: 0;
    padding: 20px;
  }

  .footer {
    position: relative;
  }
}


/* ABOUT page */

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 30px; /* Add some space between text and image */
}

.about-text {
  flex: 1;
}

.about-image {
  flex: 0 0 300px;
  position: relative;
  top: 108px;
}

.profile-image {
  width: 104%; /* Make sure the image fits the container */
  border-radius: 2px; /* Optional: adds rounded corners */
}

